.details-container {
    display: flex;
    width: 60%;
    height: calc(100% - 90px);
    margin: auto;
    margin-top: 20px;
    align-items: center;

    .moviecontainer {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        height: 450px;
        min-width: 320px;
        margin: 20px 0px 0px 20px;

        .movieImage {
            width:100%;
            height:100%;
            border-radius: 5px;
        }
    }

    .info-container {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
            margin: 20px 0px 0px 20px;
        }

        .directortext {
            margin: 20px 0px 0px 20px;
        }
    }
    .video-container {
        display: flex;
        height: 320px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;

        /*  watch button */
        .button-watch {
            height: 50px;
            width: 130px;
            margin-top: auto;
            margin-bottom: 0;
            cursor: pointer;
            font-size: 18px;
            color: var(--SecondaryBackgroundColor);
            box-shadow: 2px 2px 3px 0px #000000;
            background: linear-gradient(to bottom, #00b828 5%, #00881d 100%);
            transition: all 0.4s;

            &:hover:enabled {
                color: white;
                background: linear-gradient(to bottom, #00cf2d 5%, #00b126 100%);
                background-color: #00b126;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .details-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 0px;
        overflow-y: auto;
        height: auto;

        .info-container {
            width: auto;
            text-align: center;

            p{
                padding: 0;
                margin: 10px;
                width: auto;
                text-align: center;
            }

        }

        .video-container {
            display: flex;
            width: auto;
            text-align: center;
            justify-content: center;

            .button-watch{
                margin-top: 0;
                margin-bottom: auto;
            }

        }
    }
}
