<div class="container">
    <div class="card" id="card">
        <div class="leftside" id="leftside">
            <h1 class="cart-h1">Your Cart item:</h1>
                <h2>{{ item?.productName }}</h2>
                <p>{{ item?.description }}</p>
                <p>Total: {{ item?.price }} €</p>
        </div>
        <div class="rightside" id="rightside">
            <div class="clearButton">
                <mat-icon class="clear" (click)="removeItem()" matTooltip="Remove Cart Item"
                    matTooltipClass="tooltip-color" [matTooltipPosition]="'right'">highlight_off</mat-icon>
            </div>
            <form class="checkout-form">
                <h1>CheckOut</h1>
                <h2>Payment Information</h2>
                <p>Cardholder Name</p>
                <input type="text" class="inputbox" name="name" required />
                <p>Card Number</p>
                <input type="number" class="inputbox" name="card_number" id="card_number" required />

                <p>Card Type</p>
                <select class="inputbox" name="card_type" id="card_type" required>
                    <option value="">--Select a Card Type--</option>
                    <option value="Visa">Visa</option>
                    <option value="MasterCard">MasterCard</option>
                </select>

                <div class="expcvv">
                    <p class="expcvv_text">Expiry</p>
                    <input type="date" class="inputbox" name="exp_date" id="exp_date" required />

                    <p class="expcvv_text2">CVV</p>
                    <input type="password" class="inputbox" name="cvv" id="cvv" required />
                </div>

            </form>
            <div class="button-container" id="button-container">
                <button type="submit" class="btn">CheckOut</button>
            </div>
        </div>
    </div>
</div>