<div class="container" id="container">
    <h3>Shopping Cart</h3>
    <div class="card">

        <div class="card-inner" *ngFor="let displayCartItem of items">

            <div class="front-face">
                <img src="assets/blue.jpg">
                <h2>{{displayCartItem.productName}}</h2>
                <p>{{displayCartItem.description}}</p>
            </div>

            <div class="back-face">
                <mat-icon class="clear" (click)="removeItem()">highlight_off</mat-icon>
                <h2>{{displayCartItem.productName}}</h2>
                <p>{{displayCartItem.description}}</p>
                <button mat-button class="btn">Check Out</button>
            </div>

        </div>

    </div>
    
</div>


