/* container settings */
.container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    /* card settings */
    .card {
        width: 100%;
        height: 100%;
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        padding: 0;
        text-align: center;

        /* settings of the title on the top */
        .title {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            color: white;
            font-size: 28px;
            text-align: center;
            background-color: var(--SecondaryFontColor);
        }

        /* contetnt box settings */
        .content {
            padding: 0px;
            display: flex;
            margin: auto;
            justify-content: center;

            /* separate setting for the rating box */
            .form-field-rating {
                width: 200px;
                height: 50px;
                border-radius: 5px;
                margin: 10px;

                /* rating form field select settings */
                .select {
                    width: 100%;
                    font-size: 16px;
                    padding: 10px 15px;
                    color: var(--SecondaryFontColor);
                    border: 1px solid var(--SecondaryFontColor);
                    border-radius: 5px;
                    outline: none;
                    background-color: white;
                }
            }

            /* form-field settings */
            .form-field {
                width: 200px;
                height: 50px;
                border-radius: 5px;
                margin: 10px;

                /* inputs in the form fields */
                input[type="text"] {
                    width: 85%;
                    font-size: 16px;
                    padding: 10px 15px;
                    color: var(--SecondaryFontColor);
                    border: 1px solid var(--SecondaryFontColor);
                    border-radius: 5px;
                    outline: none;
                    margin-right: 30px;
                    background-color: white;
                }

                /* select in the form fields */
                .select {
                    min-width: 200px;
                    max-width: 200px;
                    font-size: 16px;
                    padding: 10px 15px;
                    color: var(--SecondaryFontColor);
                    border: 1px solid var(--SecondaryFontColor);
                    border-radius: 5px;
                    outline: none;
                    background-color: white;
                }

                .dateSelect{
                    min-width: auto;
                    max-width: 165px;
                    font-size: 16px;
                    padding: 10px 15px;
                    color: var(--SecondaryFontColor);
                    border: 1px solid var(--SecondaryFontColor);
                    border-radius: 5px;
                    outline: none;
                    background-color: white;
                }
            }

            /* param setting */
            p {
                margin-right: 20px;
            }

            /* top box in the container */
            .topbox {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
            }

            /* middle box in the container */
            .middlebox {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
            }

            /* bottom box in the container */
            .bottombox {
                width: 100%;
                display: block;

                .textarea {
                    height: 150px;
                    width: 96%;
                    border-radius: 5px;
                    border: 1px solid var(--SecondaryFontColor);
                }
            }

            /* comboBox settings */
            .comboBox {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                /* fileDialog input for upload file */
                input[type="file"] {
                    display: none;
                    outline: none;

                }

                /* input settings on fileUpload dialog */
                .file-upload {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                    height: 28px;
                    border-radius: 5px;
                    padding: 6px 12px;
                    cursor: pointer;
                    border: 1px solid var(--SecondaryFontColor);
                    color: var(--SecondaryFontColor);

                }
            }

            /* button container on bottom */
            .button-container {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-bottom: 20px;
            }
        }
    }
}
