<div class="container">

    <div class="card">

        <div class="title">Register account</div>

        <div class="content">

            <form [formGroup]="registerForm">

                <div class="topbox">

                    <div class="form-field">
                        <input type="text" matInput placeholder="E-mail" formControlName="Email">
                        <span *ngIf="registerForm.controls.Email.errors?.required" class="error">E-Mail required!</span>
                        <span *ngIf="registerForm.controls.Email.errors?.pattern" class="error">Wrong Email
                            pattern!</span>
                    </div>

                    <div class="form-field">
                        <input type="password" matInput placeholder="Password" formControlName="Password">
                        <span *ngIf="registerForm.controls.Password.errors?.required" class="error">Password
                            required!</span>
                        <span *ngIf="registerForm.controls.Password.errors?.minlength" class="error">Min. length is
                            4.</span>
                    </div>

                </div>

                <div class="middlebox">

                    <div class="form-field">
                        <input type="text" matInput placeholder="Firstname" formControlName="Firstname">
                        <span *ngIf="registerForm.controls.Firstname.errors?.required" class="error">Firstname
                            required!</span>
                    </div>

                    <div class="form-field">
                        <input type="text" matInput placeholder="Lastname" formControlName="Lastname">
                        <span *ngIf="registerForm.controls.Lastname.errors?.required" class="error">Lastname
                            required!</span>
                    </div>

                </div>

                <div class="bottombox">

                    <div class="form-field">
                        <input type="text" matInput placeholder="Address" formControlName="Address">
                        <span *ngIf="registerForm.controls.Address.errors?.required" class="error">Address
                            required!</span>
                    </div>

                    <div class="form-field">
                        <input type="text" matInput placeholder="Phone" formControlName="Phone">
                        <span *ngIf="registerForm.controls.Phone.errors?.required" class="error"> Phone required!</span>
                        <span *ngIf="registerForm.controls.Phone.errors?.minlength" class="error"> Min. Length is
                            8!</span>
                        <span *ngIf="registerForm.controls.Phone.errors?.maxlength" class="error"> Max. Length is
                            8!</span>
                        <span *ngIf="registerForm.controls.Phone.errors?.pattern" class="error"> Use numbers please.
                        </span>
                    </div>

                </div>

                <!-- logging in animarion DualRing.gif showing up if registerPressed = true -->
                <div class="loadinganim" *ngIf="showAnimation">
                    <img class="dualRing" src="assets/DualRing.gif" alt="">
                </div>
                
                <!-- messages -->
                <div class="success" *ngIf="success">
                    <p> <i class="fa fa-check"></i> {{message}}.</p>
                </div>
                <div class="errorMessage" *ngIf="error">
                    <p><i class="fa fa-times-circle"></i> {{errormessage}} </p>
                </div>

                <div class="button-container" *ngIf="showButton">
                    <button class="button" type="submit" mat-raised-button [disabled]="!registerForm.valid"
                        (click)="registerUser(registerForm.value)">Register</button>
                </div>

            </form>

        </div>

    </div>

</div>