<div class="container">

    <div class="card">

      <div class="title">Register account</div>
        {{message}}
        
        <div class="content">
            <form [formGroup]="registerForm">

                <div class="topbox">

                    <div class="form-field">
                        <input type="text" matInput placeholder="E-mail" formControlName="Email">
                    </div>

                    <div class="form-field">
                        <input type="text" matInput placeholder="Password" formControlName="Password">
                    </div>

                </div>

                <div class="middlebox">

                    <div class="form-field">
                        <input type="text" matInput placeholder="Firstname" formControlName="Firstname">
                    </div>

                    <div class="form-field">
                        <input type="text" matInput placeholder="Lastname" formControlName="Lastname">
                    </div>

                </div>

                <div class="bottombox">

                    <div class="form-field">
                        <input type="text" matInput placeholder="Address" formControlName="Address">
                    </div>

                    <div class="form-field">
                        <input type="text" matInput placeholder="Phone" formControlName="Phone">
                    </div>

                </div>

                <div class="button-container">
                    <button class="button" type="submit" mat-raised-button [disabled]="!registerForm.valid"
                       (click)="registerUser(registerForm.value)">Register</button>
                </div>

            </form>

        </div>

    </div>

</div>