<div class="container">

  <mat-spinner class="spinner" *ngIf="!isLoaded"></mat-spinner>

  <div class="title">List of Movies</div>

  <div class="table-container">

    <div class="filter">
      <input class="filterInput" type="search" #text placeholder="Filter..." (keydown)="applyFilter(text.value)" />
    </div>

    <table mat-table [dataSource]="movieList | filter: filter" class="mat-table">

      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let display"> {{display.movieId}} </td>
      </ng-container>

      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef> Cover</th>
        <td mat-cell *matCellDef="let display"><img src="./assets/{{display.image}}" alt=""></td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let display"> {{display.title}} </td>
      </ng-container>

      <!--        <ng-container matColumnDef="Description">
           <th mat-header-cell *matHeaderCellDef> Description </th>
           <td mat-cell *matCellDef="let display"> {{display.description}} </td>
         </ng-container> -->

      <ng-container matColumnDef="Language">
        <th mat-header-cell *matHeaderCellDef> Language </th>
        <td mat-cell *matCellDef="let display"> {{display.language}} </td>
      </ng-container>

      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let display"> {{display.country}} </td>
      </ng-container>

      <ng-container matColumnDef="Genre">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let display"> {{display.genre}} </td>
      </ng-container>

      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let display"> {{display.duration}} </td>
      </ng-container>

      <ng-container matColumnDef="Releasedate">
        <th mat-header-cell *matHeaderCellDef> Releasedate </th>
        <td mat-cell *matCellDef="let display"> {{display.releaseDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let display"> <button class="button" type="submit" class="button-delete"
            mat-raised-button (click)="deleteMovie(display.movieId)">
            <mat-icon>delete_forever</mat-icon> Delete
          </button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableHeaderColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableHeaderColumns;"></tr>

    </table>
  </div>

</div>