/* :host is a pseudo-class selector that applies styles in the element that hosts the component. */
:host {
  /* Font */
  --PrimaryFontColor: rgb(255, 255, 255);
  --SecondaryFontColor: rgb(188, 32, 33);

  /* Background */
  --PrimaryBackgroundColor: #000000;
  --SecondaryBackgroundColor: #d7e1ec;
  --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);

  /* Menu */
  --PrimaryMenuColor: #777;
  --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);

  /* seach box */
  --SearchBox-BGColor: rgba(37, 37, 37);
  --SearchTextColor: rgba(144, 144, 144);
}

.drawer-container {
  width: 100%;
  height: calc(100% - 70px);
  overflow-x: hidden;

  .drawer-sidemenu {
    width: 50px;
    background-image: var(--PrimaryBackgroundImage);

    .mat-flat-button {
      background: var(--PrimaryBackgroundColor);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-width: 100%;
      max-width: 100%;
      border-radius: 0;
      border: 1px solid var(--PrimaryMenuColor);
      border-right: 0;
      color: var(--PrimaryMenuColor);
      transition: all 0.4s;

      &:hover {
        color: var(--PrimaryFontColor);
        background-image: var(--MenuOnHoverColor);
      }
    }
  }

  .drawer-main {
    width: 100%;
    height: 100%;
    display: flex;

    .drawer-main-content {
      width: 100%;
      height: 100%;
    }
  }
}

//tooltip color
::ng-deep .tooltip-color {
  background: var(--SecondaryFontColor);
}
