.slider-container{
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;

    .recent{
        margin: 5px;
        font-size: 25px;
    }
    .slider-ontop{
        margin: auto;
        width: 80%;
    
    }
}
