.slider-container{
    width: 100%;
    margin: auto;
    display: block;
    justify-content: center;
    text-align: center;

    .recent{
        margin: 5px;
        font-size: 25px;
    }

    .slider-ontop{
        width: 85%;
        margin: auto;
        justify-content: center;
        text-align: center;
    }

}

