<div *ngIf="!isLoaded">
  <mat-spinner class="spinner" style="margin:0 auto;"></mat-spinner> 
  <p style="color: white">Loading...</p>
</div>

<div class="slider-container" #container *ngIf="isLoaded">
  <div class="recent"><br>
    <p>Newly added movies:</p>
    <br>
  </div>

  <div class="slider-ontop" *ngIf="isLoaded">
    <ng-image-slider class="slider" [images]="recentMovies" [imagePopup]="false" (imageClick)="clickOnThumbnail($event)"
      [imageSize]="{width: 250,height: 300, space:1}" [infinite]="true" [manageImageRatio]="true" [autoSlide]="3"
      [showArrow]="false" [slideImage]="1"></ng-image-slider>
  </div>

<!-- (imageClick)="clickOnThumbnail($event)" -->

<!--[imagePopup]=true/false -> no click event on images
    [imageSize]="{width: 250,height: 300, space:1}" -> sizing image
    [infinite]="true/false" -> loop images
    [manageImageRatio]="true/false" -> auto manage image sizes
    [autoSlide]="number" delay in sec
    [showArrow]="true/false" -> show or not the arrows on slider
    [slideImage]="number" -> how mani images should slide at one
    [images]="source array"

-->
