.slider-container {
  width: 100%;
  text-align: center;

  .recent {
    margin: 5px;
    font-size: 25px;
  }

  .slider-ontop {
    width: 67%;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
}
