<div class="home-container">

  <!-- <mat-spinner class="spinner" [color]="color" *ngIf="!isLoaded"></mat-spinner> -->
  <!-- NGX-Spinner START -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#af0000" type="square-jelly-box" [fullScreen]="false"
    *ngIf="!isLoaded">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <!-- NGX-Spinner END -->

  <div class="movecards" *ngFor="let display of movieList">
    <mat-card class="movie-card" (click)="movieCardClicked(display.movieId)">
      <img class="movieImage" *ngIf="display?.image != null" mat-card-image src="./assets/{{display.image}}"
        alt="{{display.title}}"> <!-- movie covers -->
      <img class="movieImage" *ngIf="display.image === null" mat-card-image src="./assets/noimage.jpg"
        alt="no cover provided"> <!-- if there is no image -->

      <!-- overview panel can be small description here but i set just buttons i think -->
      <mat-card-content class="overview">
        <mat-card-subtitle>
          <mat-icon class="icon-description">description</mat-icon></mat-card-subtitle>

         <mat-card-subtitle>{{ display.genre }}</mat-card-subtitle> <!-- title of the movie -->
         <mat-card-subtitle>{{ display.duration }}</mat-card-subtitle> <!-- Genre of the movie -->

        <mat-card-subtitle>{{ display.description }}</mat-card-subtitle> <!-- Genre of the movie -->
      </mat-card-content>

    </mat-card>
  </div>




</div>