<app-slider></app-slider>
<br>
<div class="home-container">
    <p>Home works</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
         ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
            ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
                ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
                    ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
                        ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
</div>
