:host {
  /* Font */
  --PrimaryFontColor: rgb(255, 255, 255);
  --SecondaryFontColor: rgb(188, 32, 33);

  /* Background */
  --PrimaryBackgroundColor: #000000;
  --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);

  /* Menu */
  --PrimaryMenuColor: #777;
  --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);

  --GuarmonFontStyle: "Cormorant Garamond", serif;
}

.home-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid red;
    border-bottom: 1px solid black;
    margin: 10px 10px 10px 10px;
    min-height: 420px;
    max-height: 420px;
    width: 250px;
    max-width: 400px;
    transition: all 0.2s;
    background-color: black;
    box-shadow: 10px 10px 10px -5px var(--SecondaryFontColor);
    cursor: pointer;

    .movieImage {
      height: 412px;
      max-width: 400px;
      opacity: 0.8;
    }

    &:hover {
      transform: scale(1.04);

      .movieImage {
        opacity: 1;
      }
    }

    .checked {
      color: orange;
    }

    .unchecked-last {
      margin-right: 5px;
    }

    /* overview panel */
    .overview {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      border-right: 1px solid black;
      transform: translateY(90%);
      min-height: 452px;
      max-height: 452px;
      transition: transform 0.3s ease-in;
      background: linear-gradient(to right top, rgba(0, 0, 0, 1), rgba(26, 26, 26, 0.5));
      justify-content: center;


      &:hover {
        transform: translate(0);
      }

      mat-card-subtitle {
        color: white;
      }

      .overviewTopLine {
        display: flex;
        border-radius: 5px 5px 0px 0px;
        padding:12px 0px 12px 0px;
        background-color:var(--SecondaryFontColor);
        font-size: 20px;
        align-items: center;
        justify-content: center;
      }
      .overviewPanel {
        padding: 0px 10px 0px 10px;
      }

      .icon-description {
        margin-right: 5px;
      }
    }
  }

  /*   .movie-card:hover .overview {
    transform: translate(0);
  } */
}
