:host {
  /* Font */
  --PrimaryFontColor: rgb(255, 255, 255);
  --SecondaryFontColor: rgb(188, 32, 33);

  /* Background */
  --PrimaryBackgroundColor: #000000;
  --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);

  /* Menu */
  --PrimaryMenuColor: #777;
  --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);
}

.home-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  .movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px 10px 10px 10px;
    min-height: 300px;
    max-width: 200px;
    transition: all .2s;
    background-color: #d7e1ec;
    cursor: pointer;

    .movieImage {
      max-height: 330px;
      max-width: 230px;
      opacity: .8;
    }

    &:hover {
      transform: scale(1.04);

      .movieImage {
        opacity: 1;
      }
    }

    .checked {
      color: orange;
    }

    .unchecked-last {
      margin-right: 5px;
    }

    /* overview panel */
    .overview {
      position: absolute;
      display: flex;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      min-height: 140px;
      max-height: 140px;
      transition: transform 0.3s ease-in;
      background-image: linear-gradient(to bottom, #3d3d3d 0, #000 100%);
      color: white;
      justify-content: center;
      border-radius: 5px;


    }
  }

  .movie-card:hover .overview {
    transform: translate(0);
  }
}
