<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#af0000" type="square-jelly-box" [fullScreen]="false"
*ngIf="isLoaded">
<p style="color: white">Loading...</p>
</ngx-spinner> -->
<app-slider></app-slider>
<div class="home-container">
    <p>Home works</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
         ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
            ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
                ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
                    ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, sed ullam ut culpa obcaecati ea asperiores consequuntur
                        ipsa itaque aut, laudantium vero mollitia accusantium ab sequi impedit incidunt. Suscipit!</p>
</div>
