.container{
    width: 100%;
    height: calc(100% - 70px);

    .content{
        display: flex;

        .card{
            width: auto;
            height: auto;
            border-radius: 5px;
            cursor: pointer;
            background-color: black;

            img{
                width: 220px;
                height: 300px;
                border-radius: 5px 5px 0px 0px;
            }
            .card-content{
                width: auto;
                height: auto;
            }
        }

    }
}

.mat-icon{
    min-width: 300px;
    min-height: 300px;
}