<div class="container" id="container">

    <div class="card" *ngFor="let display of products">

        <div class="card-inner">

            <div class="front-face">
                <img src="assets/blue.jpg">
                <h2>{{display.productName}}</h2>
                <p>{{display.description}}</p>
            </div>

            <div class="back-face">
                <h2>{{display.productName}}</h2>
                <p>{{display.description}}</p>
                <p>Price: {{display.price}} €</p>
                <button mat-button class="btn" (click)="addToCart(display)">Buy plan</button>
            </div>
           
        </div>
    </div>
</div>

<!-- <mat-icon>add_shopping_cart</mat-icon> -->