<mat-toolbar>
  <span class="title">MovieSite - P4</span>
  <button class="toggleMenuButton" mat-icon-button (click)="opened=!opened">
    <mat-icon *ngIf="!opened">
      <!-- if sidenav closed show menu icon -->
      menu
    </mat-icon>
    <mat-icon *ngIf="opened">
      <!-- if sidenav opened show close icon -->
      close
    </mat-icon>
  </button>
  <button class="toolbar-Button">Menu 1</button>
  <button class="toolbar-Button">Menu 2</button>
  <button class="toolbar-Button">Menu 3</button>
  <button class="toolbar-Button">Menu 4</button>
  <button class="toolbar-Button">Menu 5</button>
</mat-toolbar>

<!-- Sidenav and main content start -->
<mat-sidenav-container>

  <!-- sidenav START -->
  <mat-sidenav mode="side" [(opened)]="opened">
    <button class="sidenav-Button">Menu 1</button>
    <button class="sidenav-Button">Menu 2</button>
    <button class="sidenav-Button">Menu 3</button>
    <button class="sidenav-Button">Menu 4</button>
    <button class="sidenav-Button">Menu 5</button>
  </mat-sidenav>
  <!-- sidenav END -->

  <!-- main content START-->
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <footer class="footer">
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </footer>
    
  </mat-sidenav-content>
  <!-- main content END -->

</mat-sidenav-container>
<!-- sidenav and main content END -->