<!-- top toolbar -->
<mat-toolbar>
  <!-- title on top toolbar -->
  <span class="title" routerLink="Home">MovieSite - P4</span>

  <button class="toggleMenuButton" mat-icon-button (click)="opened = !opened">
    <mat-icon *ngIf="!opened">
      <!-- if sidenav closed show menu icon -->
      menu
    </mat-icon>
    <mat-icon *ngIf="opened">
      <!-- if sidenav opened show close icon -->
      close
    </mat-icon>
  </button>
  <!-- home button -->
  <button id="homeButton" class="toolbar-Button" routerLink="/Home">
    <mat-icon class="icon">home</mat-icon>Home
  </button>
  <!-- movie button -->
  <button id="movieButton" class="toolbar-Button" routerLink="/Movies">
    <mat-icon class="icon">movie</mat-icon>Movies
  </button>
  <!-- Plans button -->
  <button id="watchButton" class="toolbar-Button" *ngIf="loginStatus" routerLink="/BuyPlan">
    <mat-icon class="icon">subscriptions
    </mat-icon>Buy Plan
  </button>
  <!-- Cart -->
  <button id="watchButton" class="toolbar-Button" *ngIf="loginStatus" routerLink="/Cart">
    <mat-icon class="icon">shopping_cart
    </mat-icon>Cart
  </button> 

  <!-- settings buttons ADminj router or user route -->
  <button id="settingsButton" class="toolbar-Button-Settings" *ngIf="isAdmin" routerLink="/Admin">
    <!-- if admin -->
    <mat-icon class="settings-icon">dashboard</mat-icon>Dashboard
  </button>
  <button id="settingsButton" class="toolbar-Button-Settings" *ngIf="isUser" routerLink="/Profile">
    <!-- if user -->
    <mat-icon class="settings-icon">person</mat-icon>Profile
  </button>

  <!-- login button -->
  <button id="loginButton" class="toolbar-Button-Login" routerLink="/Login" *ngIf="!loginStatus">
    <mat-icon id="login-icon" class="icon">power_settings_new</mat-icon>Login
  </button>
  <!-- logout button -->
  <button id="logoutButton" class="toolbar-Button-Logout" mat-button *ngIf="loginStatus" (click)="logOut()">
    <mat-icon id="logout-icon" class="icon">power_settings_new</mat-icon>Logout
  </button>

  <!-- search wrapper -->
  <div class="search-wrapper">
    <div class="search-box">
      <input class="searchInput" type="search" #text placeholder="Search..." (keydown)="searchMovie(text.value)" />
    </div>
  </div>
  <!-- genre wrapper -->
  <div class="genre-wrapper">
    <div class="genre-box">
      <select>
        <option *ngFor="let genre of listOfGenres" [value]="genre">{{genre}}</option>
      </select>
    </div>
  </div>

</mat-toolbar>
<!-- top toolbar END -->


<!-- Sidenav and main content start -->
<mat-sidenav-container>
  <!-- sidenav START -->
  <mat-sidenav mode="side" [(opened)]="opened">
    <button class="sidenav-Button" routerLink="/Home">Home</button>
    <button class="sidenav-Button" routerLink="/Movies">Movies</button>
    <button class="sidenav-Button" routerLink="/BuyPlan" *ngIf="loginStatus">Buy Plan</button>
    <button class="sidenav-Button" routerLink="/Cart" *ngIf="loginStatus">Cart</button>
    <button class="sidenav-Button" routerLink="/Login" *ngIf="!loginStatus">Login</button>
    <button class="sidenav-Button" *ngIf="loginStatus" (click)="logOut()">Logout
    </button>

  </mat-sidenav>
  <!-- sidenav END -->

  <!-- main content START-->
  <mat-sidenav-content>
<!-- 
    <video autoplay muted loop class="back-video">
      <source src="/src/assets/video.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video> -->

    <div class="router-content" id="router-content">
      <router-outlet></router-outlet> <!-- rendering components -->
      <!-- footer -->
      <footer class="footer" id="footer">
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Contact Us</a></li>
          <em class="CopyR">Copyright &copy; 2022, The Monster Under The Bed. All Rights To Scare Unsuspecting Children
            Reserved.</em>
        </ul>
      </footer>
      <!-- footer END -->
    </div>


  </mat-sidenav-content>
  <!-- main content END -->
</mat-sidenav-container>
<!-- sidenav and main content END -->
