/* :host is a pseudo-class selector that applies styles in the element that hosts the component. */
:host {
  /* Font */
  --PrimaryFontColor: rgb(255, 255, 255);
  --SecondaryFontColor: rgb(188, 32, 33);

  /* Background */
  --PrimaryBackgroundColor: #000000;
  --SecondaryBackgroundColor: #d7e1ec;
  --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);

  /* Menu */
  --PrimaryMenuColor: #777;
  --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);

  /* seach box */
  --SearchBox-BGColor: rgba(37, 37, 37);
  --SearchTextColor: rgba(144, 144, 144);
}

/* default  container */
.container {
  display: flex;
  height: calc(100% - 90px);
  max-height: calc(100% - 85px);
  padding: 10px;
  justify-content: center;
  align-items: center;

  /* the card settings */
  .card {
    animation: animatezoom 0.5s;
    width: 400px;
    height: 320px;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    background-image: var(--MenuOnHoverColor);
    box-shadow: 0px 0px 15px 4px var(--SecondaryFontColor);
    border: 1px solid var(--SecondaryFontColor);

    /* card content container */
    .content {
      width: 300px;

      /* form field contains the input field (Email) */
      .form-field-Email {
        margin: 0px 0px 20px 0px;
        height: 50px;
        width: 300px;

        /* input field email */
        input[type="Email"] {
          width: 90%;
          font-size: 16px;
          padding: 8px 15px;
          color: var(--SecondaryFontColor);
          border: 1px solid var(--SecondaryFontColor);
          // border-bottom: 1px solid var(--SecondaryFontColor);
          outline: none;
          border-radius: 5px;
          background-color: white;
          // background-color: transparent;
        }
      }

      /* form field contains the input field (Email) */
      .form-field-Password {
        margin: 0px 0px 20px 0px;
        height: 50px;
        width: 300px;

        /* input field password */
        input[type="Password"] {
          width: 90%;
          font-size: 16px;
          padding: 8px 15px;
          color: var(--SecondaryFontColor);
          border: 1px solid var(--SecondaryFontColor);
          //border-bottom: 1px solid var(--SecondaryFontColor);
          outline: none;
          border-radius: 5px;
          background-color: white;
          // background-color: transparent;
        }
      }
    }

    /* card's title  (Login) */
    .title {
      width: 100%;
      font-size: 25px;
      text-align: center;
      padding-top: 18px;
      border-radius: 10px 10px 0px 0px;
      padding-bottom: 18px;
      color: var(--SecondaryFontColor);
    }

    /* card content container */
    .content,
    p {
      padding: 0px;
      width: 100%;
      display: flex;
      margin: auto;
      justify-content: center;
      color: var(--SecondaryFontColor);

      /* Link on card (Register one) */
      .link {
        text-decoration: none;
        margin-left: 10px;
        color: #009908;

        &:visited {
          text-decoration: none;
          color: #009908;
        }

        &:hover {
          color: #00ff0d;
        }
      }
    }

    /* Error message container */
    .errorMessage {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
      background-color: var(--SecondaryFontColor);
      color: white;
    }

    /* button container (Login button) */
    .button-container {
      padding: 8px 2px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;

      /* Login button settings */
      .button {
        box-sizing: border-box;
        cursor: pointer;
        font-size: 18px;
        width: 100%;
        background-color: var(--SecondaryFontColor);
        color: white;

        &:enabled {
          color: white;
          background-color: green;
        }
        &:hover:enabled {
          color: white;
          background-color: rgb(0, 201, 0);
        }
      }
    }

    /* zoom animation */
    @keyframes animatezoom {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }
  }
}

/* if the screen size is less than 600px do not show the search input and category select on top toolbar */
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 200px;

    .card {
      animation: animatezoom 0.5s;
      width: 100%;
      padding: 20px;

      .content {
        display: block;
        width: auto;

        .form {
          width: 200px;
        }
      }

      .form-field-Email,
      .form-field-Password {
        margin: 10px 0px 10px 0px;
        width: 200px;
      }
      .button-container {
        width: 200px;
      }
      p {
        width: 200px;
      }
    }
  }
}
