<!-- container Start -->
<div class="container">

  <!-- card Start -->
  <div class="card">
    <!-- title on the card -->
    <div class="title"> Login </div>

    <!-- content container in the card START -->
    <div class="content">

      <!-- form START -->
      <form class="form" [formGroup]="loginForm">

        <!-- email input field -->
        <div class="form-field-Email">
          <input type="Email" placeholder="E-mail" formControlName="Email">
          <span *ngIf="loginForm.controls.Email.errors?.required" class="error">E-Mail required!</span>
          <span *ngIf="loginForm.controls.Email.errors?.pattern" class="error">Wrong Email pattern!</span>
        </div>

        <!-- password input field -->
        <div class="form-field-Password">
          <input type="Password" placeholder="Password" formControlName="Password">
          <span *ngIf="loginForm.controls.Password.errors?.required" class="error">Password required!</span>
          <span *ngIf="loginForm.controls.Password.errors?.minlength" class="error">Password required!</span>
        </div>

        <!-- logging in animarion DualRing.gif showing up if loggingIn = true -->
        <div class="loadinganim" *ngIf="loggingIn">
          <img class="dualRing" src="assets/DualRing.gif" alt="">
        </div>
        
        <div class="success" *ngIf="success">
          <p> <i class="fa fa-check"></i> {{message}}.</p>
        </div>
        <div class="errorMessage" *ngIf="error">
          <p><i class="fa fa-times-circle"></i> {{errormessage}} </p>
        </div>

        <!-- button container in the card  showing up if loggingIn = false -->
        <div class="button-container" *ngIf="showButton">
          <button class="button" type="submit" mat-raised-button [disabled]="!loginForm.valid"
            (click)="login(loginForm.get('Email').value, loginForm.get('Password').value)">Login</button>
        </div><br>

        <!-- link -->
        <p>Har du ikke en konto? <a class="link" routerLink="/Register">Register one</a>.</p>

      </form>
      <!-- form END -->

    </div>
    <!-- content container in the card END -->

  </div>
  <!-- card END -->
</div>
<!-- container END -->