/* :host is a pseudo-class selector that applies styles in the element that hosts the component. */
:host {
  /* Font */
  --PrimaryFontColor: rgb(255, 255, 255);
  --SecondaryFontColor: rgb(188, 32, 33);

  /* Background */
  --PrimaryBackgroundColor: #000000;
  --SecondaryBackgroundColor: #d7e1ec;
  --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);

  /* Menu */
  --PrimaryMenuColor: #777;
  --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);

  /* seach box */
  --SearchBox-BGColor: rgba(37, 37, 37);
  --SearchTextColor: rgba(144, 144, 144);
}

.container {
  display: flex;
  height: calc(100% - 90px);
  max-height: calc(100% - 85px);
  padding: 10px;
  justify-content: center;
  align-items: center;

  .form-box {
    animation: animatezoom 0.5s;
    width: 400px;
    height: 100%;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #242424 74%);
    //border: 1px solid red;

    #login {
      top: 40%;
      left: 50px;
    }

    #register {
      top: 20%;
      left: 450px;
    }

    .button-box {
      width: 200px;
      margin: auto;
      margin-top: 30px;
      position: relative;
      box-shadow: 0 0 8px 3px #434343;
      border-radius: 5px;

      .toggle-btn {
        padding: 10px 30px;
        cursor: pointer;
        max-width: 100px;
        min-width: 100px;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
        color: white;
        font-size: 12px;
      }

      #btn {
        top: 0;
        left: 0;
        position: absolute;
        width: 45%;
        height: 100%;
        color: white;
        background-color: #000000;
        background: linear-gradient(315deg, #3f0d12 0%, rgb(188, 32, 33) 74%);
        border-radius: 5px;
        transition: 0.5s;
      }
    }

    /* imput groups */
    .input-group {
      top: 100px;
      position: absolute;
      width: 300px;
      transition: 0.5s;
      height: 50px;

      .form-field {
        height: 65px;
      }

      /* input fields */
      .input-field {
        width: 100%;
        font-size: 16px;
        padding: 10px 10px;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: black;
        border-radius: 5px;
        outline: none;

        &::placeholder {
          color: rgba(255, 255, 255, 0.4);
        }
      }

      /* button container */
      .button-container {
        padding: 8px 2px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;

        /* submit buttons */
        .submit-btn {
          width: 85%;
          padding: 5px;
          display: block;
          margin: auto;
          color: white;
          background: linear-gradient(315deg, #3f0d12 0%, rgb(188, 32, 33) 74%);
          border: 0;
          outline: none;
          font-size: 18px;
          color: white;

          &:enabled {
            color: white;
            cursor: pointer;
            background: green;
          }
          &:hover:enabled {
            color: white;
            background: rgb(0, 201, 0);
          }
        }
      }
    }

    .error {
      color: red;
      margin-left: 5px;
    }

    /* Error message container */
    .errorMessage {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
      background-color: var(--SecondaryFontColor);
      color: white;
    }

    /*the ring loading animation GIF on the login page when login button pressed  */
    .loadinganim {
      display: flex;
      margin: auto;
      width: 50px;
      height: 50px;
      .dualRing {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .success {
      display: flex;
      margin: auto;
      width: 300px;
      height: 50px;
      background-color: #dff2bf;
      border-radius: 5px;

      p {
        color: rgb(0, 160, 0);
        margin: auto;
        .fa {
          margin-right: 5px;
        }
      }
    }

    .errorMessage {
      display: flex;
      margin: auto;
      width: 100%;
      height: 50px;
      background-color: #ffd2d2;
      border-radius: 5px;

      p {
        color: #d8000c;
        margin: auto;
        .fa {
          margin-right: 5px;
        }
      }
    }
  }
}

/* zoom animation */
@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
