<!-- container Start -->
<div class="container">

  <!-- card Start -->
  <div class="card">
    <!-- title on the card -->
    <div class="title"> Login </div>

    <!-- content container in the card START -->
    <div class="content">
      <!-- form START -->
      <form class="form" [formGroup]="loginForm">

        <!-- email input field -->
        <div class="form-field">
          <input type="Email" placeholder="E-mail" formControlName="Email">
        </div>

        <!-- password input field -->
        <div class="form-field">
          <input type="Password" placeholder="Password" formControlName="Password">
        </div>

        <!-- ERROR messages container -->
        <p *ngIf="loginForm.controls.Email.errors?.pattern" class="error">
          {{ emailError }}
        </p>
        <p *ngIf="error" class="error">
          {{ errormessage }}
        </p>
        <br>

        <!-- button container in the card -->
        <div class="button-container">
          <button class="button" type="submit" mat-raised-button [disabled]="!loginForm.valid"
            (click)="login(loginForm.get('Email').value, loginForm.get('Password').value)">Login</button>
        </div><br>

        <!-- link -->
        <p>Har du ikke en konto? <a class="link" routerLink="/Register">Register one</a>.</p>

      </form>
      <!-- form END -->

    </div>
    <!-- content container in the card END -->

  </div>
  <!-- card END -->
</div>
<!-- container END -->