<div class="container" id="container">

    <div class="title">{{user?.firstname}} {{user?.lastname}}'s profile</div>

    <div class="card">

        <div class="content" id="content">

            <div class="topbox" id="topbox">

                <div class="profilePicture" id="profilePicture">
                    <img class="avatar" id="avatar" src="./assets/{{user?.image}}" alt="">
                </div>

                <div class="infobox" id="infobox">
                    <p>
                        Password: {{user?.password}}
                    </p>
                    <p>
                        Address: {{user?.address}}
                    </p>
                    <p>
                        E-Mail: {{user?.email}}
                    </p>
                    <p>
                        Phone: {{user?.phone}}
                    </p>
                </div>

                <div class="button-container">
                    <button class="button-update" type="submit" mat-raised-button
                        (click)="openDialog(user?.profileId)">Update Profile</button>

                    <button class="button-delete" type="submit" mat-raised-button
                        (click)="deleteProfile(user.profileId)" [disabled]="!checked">Delete
                        Profile</button>
                </div>

                <mat-checkbox class="checkbox" (change)="checkOK($event.checked)">I want to delete my account.
                </mat-checkbox>

            </div>

            <div class="bottom-box" id="bottombox">

                <div class="desc-box" id="desc-box">
                    <p>
                        {{user?.selfIntro}}
                    </p>
                </div>

            </div>

        </div>

    </div>