/* :host is a pseudo-class selector that applies styles in the element that hosts the component. */

:host {
    /* Font */
    --PrimaryFontColor: rgb(255, 255, 255);
    --SecondaryFontColor: rgb(188, 32, 33);
    --GreenFontColor: green;
    /* Background */
    --PrimaryBackgroundColor: #000000;
    --SecondaryBackgroundColor: white;
    --GreenishBackgroundColor: #3a6073;
    --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);
    --ProfileCardBGColor: rgb(223, 223, 223);
    /* Menu */
    --PrimaryMenuColor: #777;
    --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);
    /* seach box */
    --SearchBox-BGColor: rgba(37, 37, 37);
    --SearchTextColor: rgba(144, 144, 144);
    --NiceRedBlackGradientColors: rgb(188, 32, 33) linear-gradient(0deg, rgba(188, 32, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

/* profile container */

.container {
    margin: 0px;
    height: calc(100% - 70px);
    /* title in container */
    .title {
        width: auto;
        padding: 18px;
        font-size: 20px;
        color: var(--PrimaryFontColor);
        background-color: var(--SecondaryFontColor);
    }
    /* title END */
    /* card in the container  */
    .card {
        padding: 0px;
        margin: 0px;
        color: black;
        background-color: white;
        width: 100%;
        height: calc(100% - 55px);
        border-radius: 0px 0px 0px 0px;
        background-color: var(--SecondaryFontColor);

        /* content box in the card */
        .content {
            display: flex;
            height: calc(100% - 55px);

            .topbox {
                align-items: center;
                height: 100%;
                justify-content: center;
                margin: 10px;
                border-radius: 10px;
                background-color: var(--SecondaryBackgroundColor);
                box-shadow: 10px 10px 10px -5px black;
                border: 1px solid var(--SecondaryFontColor);

                /* profile picture box */
                .profilePicture {
                    max-width: 300px;
                    margin: 10px;
                    //border: 1px solid red; //just for see the borders if we need to see it uder development
                    //border-right: 1px solid red; //just for see the borders if we need to see it uder development
                    border-radius: 5px;
                    border-radius: 50%;

                    /* settings of the image in the profile box */
                    .avatar {
                        margin: 20px;
                        max-width: 300px;
                        border-radius: 50%;
                        border-right: 1px solid red;
                    }
                }
                /* info box in the content box */
                .infobox {
                    max-width: auto;
                    min-width: 30%;
                    //border: 1px solid red; //just for see the borders if we need to see it uder development
                    border-radius: 5px;
                    margin: 10px;
                    font-weight: bold;
                    font-size: 18px;

                    p {
                        margin: 10px;
                    }
                }

                /* button container in topbox */
                .button-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: auto;

                    /*  update button */
                    .button-update {
                        cursor: pointer;
                        font-size: 18px;
                        color: var(--SecondaryBackgroundColor);
                        box-shadow: 2px 2px 3px 0px #000000;
                        background: linear-gradient(to bottom, #858585 5%, #000000 100%);
                        transition: all 0.4s;

                        &:hover:enabled {
                            color: white;
                            background: linear-gradient(to bottom, #00cf2d 5%, #00b126 100%);
                            background-color: #00b126;
                        }
                    }

                    /*   delete button */
                    .button-delete {
                        font-size: 18px;
                        color: var(--SecondaryBackgroundColor);
                        box-shadow: 2px 2px 3px 0px #000000;
                        background: linear-gradient(to bottom, #858585 5%, #000000 100%);
                        transition: all 0.4s;

                        &:hover:enabled {
                            cursor: pointer;
                            color: white;
                            background: linear-gradient(to bottom, #e20000 5%, #b10000 100%);
                            background-color: #b10000;
                        }
                    }
                }

                .checkbox {
                    margin: 10px 20px 10px 20px;
                }
            }

            .bottom-box {
                width: 100%;
                height: 100%;

                /* description box in the content box */
                .desc-box {
                    height: 100%;
                    min-width: 30%;
                    max-width: 98%;
                    max-height: 100%;
                    background-color: var(--SecondaryBackgroundColor);
                    box-shadow: 10px 10px 10px -5px black;
                    margin: 10px;
                    border: 1px solid var(--SecondaryFontColor);
                    border-radius: 10px;

                    p {
                        margin: 10px;
                    }
                }
            }
        }
        /* content END */
    }
    /* card END */
}

/* container END */

/* if the screen size is less than 800px do not show the menu button on top toolbar*/

@media only screen and (max-width: 800px) {
    #container {
        margin: 0px;
        height: auto;
    }
    #content {
        display: flex;
        height: 100%;
        margin: 0px;
        padding: 20px;
        display: block;
        #topbox {
            display: flex;
            flex-direction: column;
            #profilePicture {
                width: auto;
                #avatar {
                    margin: 5px;
                    max-width: auto;
                }
            }
            #infobox {
                margin: 5px;
                max-width: auto;
            }
        }
        #bottom-box {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            #desc-box {
                margin: 5px;
                max-width: auto;
                height: 100%;
                p {
                    max-width: auto;
                }
            }
        }
    }
}
