<div class="container">

    <div class="title">Add new User</div>

    <div class="content">

        <form [formGroup]="createForm">
            
            <div class="topbox">
                <p>
                    <mat-form-field>
                        <input type="Email" matInput placeholder="E-mail" formControlName="Email">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Password" formControlName="Password">
                    </mat-form-field>
                </p>

            </div>
            <div class="middlebox">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Firstname" formControlName="Firstname">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Lastname" formControlName="Lastname">
                    </mat-form-field>
                </p>
            </div>
            <div class="bottombox">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Address" formControlName="Address">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Phone" formControlName="Phone">
                    </mat-form-field>
                </p>
            </div>
            <div class="rolebox">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Image Ex.: profile.jpg" formControlName="Image">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Select role</mat-label>
                        <mat-select name="role" formControlName="Role">
                            <mat-option *ngFor="let display of roles" [value]="display.role">
                                {{display.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>

            <div class="button-container">
                <button class="button" type="submit" mat-raised-button [disabled]="!createForm.valid"
                    (click)="createUser(createForm.value)">Add new</button>
            </div>

        </form>

    </div>

</div>