/* :host is a pseudo-class selector that applies styles in the element that hosts the component. */
:host {
    /* Font */
    --PrimaryFontColor: rgb(255, 255, 255);
    --SecondaryFontColor: rgb(188, 32, 33);

    /* Background */
    --PrimaryBackgroundColor: #000000;
    --SecondaryBackgroundColor: #d7e1ec;
    --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);

    /* Menu */
    --PrimaryMenuColor: #777;
    --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);

    /* seach box */
    --SearchBox-BGColor: rgba(37, 37, 37);
    --SearchTextColor: rgba(144, 144, 144);
}

.container {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
        font-size: 28px;
        text-align: center;
        background-color: var(--SecondaryFontColor);
    }

    .content {
        padding: 0px;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;

        p {
            margin-right: 20px;
        }

        .form-field {
            margin: 20px 0px 20px 0px;
            height: 30px;
            width: 300px;

            /* input field text */
            input[type="text"] {
                width: 80%;
                font-size: 16px;
                padding: 10px 15px;
                color: var(--SecondaryFontColor);
                border: 1px solid var(--SecondaryFontColor);
                border-radius: 5px;
                outline: none;
                margin-right: 30px;
                background-color: white;
            }

            input[type="password"] {
                width: 90%;
                font-size: 16px;
                padding: 10px 15px;
                color: var(--SecondaryFontColor);
                border: 1px solid var(--SecondaryFontColor);
                border-radius: 5px;
                outline: none;
                background-color: white;
            }

            .select{
                width: 90%;
                font-size: 16px;
                padding: 10px 15px;
                color: var(--SecondaryFontColor);
                border: 1px solid var(--SecondaryFontColor);
                border-radius: 5px;
                outline: none;
                background-color: white;
            }
        }

        .topbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .middlebox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .bottombox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .rolebox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .button-container {
            display: flex;
            justify-content: center;
            width: 20%;
            padding-top: 20px;
            margin: auto;

            .button-update {
                width: 100%;
                cursor: pointer;
                font-size: 18px;
                color: var(--SecondaryBackgroundColor);
                background: linear-gradient(to bottom, #858585 5%, #000000 100%);
                transition: all 0.4s;

                &:hover:enabled {
                    color: white;
                    background: linear-gradient(to bottom, #00cf2d 5%, #00b126 100%);
                    background-color: #00b126;
                }
            }
        }
    }
}
