:root {
    /* Font */
    --PrimaryFontColor: rgb(255, 255, 255);
    --SecondaryFontColor: rgb(188, 32, 33);
  
    /* Background */
    --PrimaryBackgroundColor: #000000;
    --PrimaryBackgroundImage: linear-gradient(to bottom, #191919 0, #000 100%);
  
    /* Menu */
    --PrimaryMenuColor: #777;
    --MenuOnHoverColor: linear-gradient(to bottom, #303030 0, #000 100%);
  
    /* seach box */
    --SearchBox-BGColor: rgba(37, 37, 37);
    --SearchTextColor: rgba(144, 144, 144);

    --GuarmonFontStyle: 'Cormorant Garamond', serif;
    
  }
/* You can add global styles to this file, and also import other style files */
*{
  font-family: var(--GuarmonFontStyle); scroll-behavior: smooth;
}


html, body { width:100%; height: 100%; font-family: var(--GuarmonFontStyle);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
  }

.custom-dialog >  mat-dialog-container {
  background: transparent;
  border-radius: none;
}


@keyframes animate {
0%{
  filter: hue-rotate(0deg);
}
100%{
  filter: hue-rotate(360deg);
}

}